# Personal files
_todo.txt

# Code editors
.vscode
.vs

# CMake
build
out
/CMakeFiles
CMakeCache.txt
CMakeSettings.json
*.cmake

# Compiler stuff
*.o
*.exe

# Executables
niyebe
libcrypto-3-x64.dll
libssl-3-x64.dll

# Installer
*.zip